.JokeCard{
    position: relative;
    background-color: #5F7161;
    width: 50vw;
    height: 50vh;
    padding: 20px;
    color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 1px 4px 10px #413F42;
    margin-top: 5px;
}

.JokeCard > .jokeContainer{
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.jokeContainer > p{
    letter-spacing: 3px;
    font-size: 2em;
    margin-top: 20px;
}

.jokeContainer > h2{
    margin: 0px;
}

.jokeContainer > button{
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 20px;
    padding: 15px;
    font-size: 20px;
    background-color: azure;
    border: 1px #413F42;
    border-radius: 10px;
    cursor: pointer;
}

.JokeCard > .loading{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

@media only screen and (max-width: 1200px) {
    .JokeCard {
        width: 70vw;
    }
}

@media only screen and (max-width: 600px) {
    .JokeCard {
        width: 90vw;
        height: 38vh;
        border-radius: 0px;
        margin-top: 5px;
    }

    .jokeContainer > p{
        letter-spacing: 1.3px;
        font-size: 1.5em;
        margin-top: 18px;
    }
}